*.pkg.tar.*
*.pkg.tar.*.sig
*.src.tar.*
*.log
*.key
*.gpg
*.kbx
*.rev
*.token
*.pem
*.p12
*.pfx
*.asc~
/.cache/
/.tmp/
/build/
/chroots/
/logs/
/pkg/
/src/
/staging/
/public/
/public.previous*/
/repo/
/test-results/
__pycache__/
.pytest_cache/
